{% extends '@SonataAdmin/CRUD/list_boolean.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value %}
            <a href="{{ admin.generateUrl(admin.normalizedCode ~ '_boolean_reverse', { id: object.id, field: field_description.name, unique: field_description.option('unique') }) }}"><span class="label label-success">{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}</span></a>
        {% else %}
            <a href="{{ admin.generateUrl(admin.normalizedCode ~ '_boolean_reverse', { id: object.id, field: field_description.name, unique: field_description.option('unique') }) }}"><span class="label label-danger">{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}</span></a>
        {% endif %}
    {% endspaceless %}
{% endblock %}